body {
    /* background-color: aquamarine; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    width: 60%;
    margin: 0px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: lightseagreen;
    }

 h2{
     margin-top: 0px;

 }

 .encabezado{
     background-color: dodgerblue;
     padding: 20px;
     margin-bottom: 20px;
     font-size: 30px;
     box-shadow: black 0px 2px 2px 0 ;
 }
h3 {
    color: indigo;
}