body {
    /* background-color: aquamarine; */
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    width: 90%;
    margin: 0px auto;
    border: 1px solid blue;
    padding: 20px;
    background-color: blueviolet;
    }

}    

 h2{
     margin-top: 0px;

 }

 .encabezado{
     background-color: hotpink;
     padding: 20px;
     margin-bottom: 20px;
     font-size: 30px;
     box-shadow: black 0px 2px 2px 0 ;
     display:flex;
     justify-content: space-between;
     align-items: center;
 }

 figure{
     margin: 0px;
 }

 img{
     width: inherit;
     height: inherit;
    }
ul{
    margin: 0px;
    list-style: none;
    display: flex;
}

a{
    padding-right: 10px;
    text-decoration: none;
    color: white;
}


